<div class="container">
  <div class="message-alert" *ngIf="balanceError === true">
    <div class="icon-alert  ">
    </div>
    <p>No cuenta con saldo suficiente</p>
  </div>
  <div class="container-auction">
    <p>{{ auction.name }}</p>
    <div class="principal">
      <div class="imgs p-style">
        <div class="img-more">
          <div class="img-2 img-min"></div>
          <div class="img-3 img-min"></div>
          <div class="video img-min"></div>
        </div>
        <div class="img-1" (click)="scrollChatBody()"></div>
      </div>
      <div class="container-chat p-style">
        <div class="chat">
          <div class="chat-t">
            <p class="description">@{{ infoAuction.name }} ofrece S/ {{ infoAuction.price }}</p>
            <p class="title">Cierra en 5:06 Horas</p>
          </div>
          <div class="chat-b" id="chat-b">
            <div class="message" *ngFor="let msg of messages">
              <p><span class="user">@{{ msg.customer?.name }}</span> propuso <span>S/{{ msg.price  }}</span></p>
            </div>
          </div>
          <div class="chat-c">
            <input placeholder="Ofrecer precio" type="number" [(ngModel)]="price">
            <button (click)="sendMessage()">Enviar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-info">
    <div class="info">
      <div class="info-title">
        <p>Caracteristic</p>
      </div>
      <div class="info-desc">
        <p>{{ auction.caracteristic }}</p>
      </div>
      <div class="show-desc">
        <p>ver mas...</p>
      </div>
    <div class="info-title">
      <p>Subastas Similares</p>
      <app-carrousel-auction title="Hola" [auctions]=carrouselAuction></app-carrousel-auction>
    </div>
    </div>
  </div>
</div>

