<div class="nav-bar">
  <div class="container">
    <div class="home">
      <div class="tool-bar">
        <div></div>
        <div></div>
        <div></div>
      </div>
      <span [routerLink]="['/']">Home</span>
    </div>
    <div class="search">
      <div class="container-search">
        <input placeholder="Buscar producto">
        <button [routerLink]="['/auction']">O</button>
      </div>
    </div>
    <div class="detail">
      <div class="login">
        <span>Login</span>
      </div>
      <div class="shop">
        <span>Shop</span>
      </div>
    </div>
  </div>
</div>
