<div class="container">
  <div class="carrousel">
    <div class="card-glob">
      <div class="carrouselDesign c-1">
      </div>
      <div class="carrouselDesign c-2">
      </div>
      <div class="carrouselDesign c-3">
      </div>
      <div class="card-btn">
        <div>
          <button></button>
        </div>
        <div>
          <button></button>
        </div>
        <div>
          <button></button>
        </div>
      </div>
    </div>
  </div>
  <div class="list-carrousel">
    <app-carrousel-auction title="Hola" [auctions]=auctions></app-carrousel-auction>
  </div>
  <div class="banner">
    <div class="img">

    </div>
  </div>
  <div class="list-carrousel">
    <app-carrousel-auction title="Hola" [auctions]=auctions></app-carrousel-auction>
  </div>
  <div class="banner">
    <div class="img">

    </div>
  </div>
  <div class="asd">

  </div>
</div>
