<div class="card-item" (click)="redirect(auction.id)">
  <div class="img">
    <div class="image">

    </div>
  </div>
  <div class="details">
    <div class="name">
      <p>{{ auction.name }}</p>
    </div>
    <div class="date">
      <p>Acaba {{ auction.lastDate }} horas</p>
    </div>
    <div class="last-price">
      <p>S/ {{ auction.priceBase }}</p>
    </div>
    <div class="price">
      <p>S/ {{ auction.price }}</p>
    </div>
    <div class="buy">
      <button>Comprar</button>
    </div>
  </div>
</div>
