<div class="card-item" (click)="redirect(auction.id)">
  <div class="img">
    <div class="image">

    </div>
  </div>
  <div class="details">
    <div class="name">
      <p> {{auction.auctionProduct?.name}} </p>
    </div>
    <div class="date">
      <p>Termina en 5 horas</p>
    </div>
    <div class="prices">
      <div *ngIf="auction.auctionProduct?.price !== auction.price; else content">
        <div class="last-price">
          <p>S/ {{auction.auctionProduct?.price}}</p>
        </div>
        <div class="price">
          <p>S/ {{ auction.price }}</p>
        </div>
      </div>
      <ng-template #content>
        <div class="price">
          <p>S/ {{ auction.price }}</p>
        </div>
      </ng-template>
    </div>
    <div class="buy">
      <button>Comprar</button>
    </div>
  </div>
</div>
