/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

button,
input,
textarea {
  border: none;
  outline: none;
}

body {
  background: var(--body);
}

:root {
  --grad-1: #81e1ff;
  --grad-2: #a39bff;
  --grad-3: #cb7ee7;
  --grad-4: #de4e82;

  --success: #2fc21c;
  --success-active: #6fff5c;
  --inactive: #a0a0a0;
  --inactive-active: #bdbdbd;
  --delete: #e43131;
  --delete-active: #ff8686;
  --update: #ff932e;
  --update-active: #ffb167;

  --alert: #e93434;
  --primary: #a3bcff;
  --primary-trans: #d1deff;
  --message: #ffe9c8;
  --message-title: #ff3636;
  --last: #b3b3b3;
  --sale: #ff5858;
  --text: #000000;
  --alter-text: #ffffff;
  --second: #ffffff;
  --body: #edf8fe;
}

button.btn-success {
  padding: 0.5em 0.6em;
  font-size: 1.1rem;
  border-radius: 0.3em;
  color: white;
  background: var(--success);
}

button.btn-success:active {
  background: var(--success-active);
}

button.btn-inactive {
  padding: 0.5em 0.6em;
  font-size: 1.1rem;
  border-radius: 0.3em;
  color: white;
  background: var(--inactive);
}

button.btn-inactive:active {
  background: var(--inactive-active);
}
