<div class="container">
  <div class="card">
    <div class="title" (click)="closeForm()">
      <p>{{ isUpdate === true ? "Update Auction" : "Create Auction" }}</p>
    </div>
    <div class="form">
      <form>
        <div class="two g-line">
          <div class="col">
            <app-underline [name]="'Nombre'" [data]="request.name" (dataChange)="updateName($event)" class="d">
            </app-underline>
          </div>
          <div class="col select">
            <app-select-box class="d select" (dataChange)="updateCategory($event)">
            </app-select-box>
          </div>
        </div>
        <div class="one g-line">
          <app-underline [name]="'Precio'" [data]="request.price" [type]="'number'" (dataChange)="updatePrice($event)" class="d">
          </app-underline>
        </div>
        <div class="one g-line">
          <app-textarea-conform [data]="request.caracteristic" placeholder="Caracteristicas" (dataChange)="updateCaracteristic($event)"></app-textarea-conform>
        </div>
        <div class="one g-line">
          <app-box [data]="request.image1" (changeData)="updateImage1($event)"></app-box>
        </div>
        <div class="one g-line">
          <app-box [data]="request.image2" (changeData)="updateImage2($event)"></app-box>
        </div>
        <div class="one g-line">
          <app-box [data]="request.image3" (changeData)="updateImage3($event)"></app-box>
        </div>
        <div class="one g-line">
          <app-box [data]="request.video" (changeData)="updateVideo($event)"></app-box>
        </div>
      </form>
    </div>
    <div class="btn">
      <button class="btn-success" (click)="sendUpdateList()">Enviar</button>
    </div>
  </div>
</div>
