div.container {
  width: 100%;
  height: 100%;
}

div.card {
  position: relative;
  width: 100%;
}

div.title {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0.6em 0;
  margin: 0 0 0 1.5em;
  position: relative;
}

div.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  width: 80%;
}

div.g-line {
  margin-top: 25px;
}

div.two {
  display: flex;
  justify-content: space-between;
}

div.two .col {
  width: 45%;
}

div.one .o {
  width: 40%;
}

div.btn {
  display: flex;
  justify-content: center;
  margin: 1.2em 0;
}

@media (max-width: 750px) {
  div.card {
    width: 100%;
  }

  div.two {
    display: block;
  }

  div.two .d {
    margin-top: 10px;
    width: 100%;
  }

  div.two .col {
    margin-top: 10px;
    width: 100%;
  }

  div.two .select {
    height: 40px;
  }
}
