::-webkit-calendar-picker-indicator {
  background: rgb(218, 180, 255);
  width: 100%;
  height: 100%;
}

::-webkit-datetime-edit {
  display: none;
}

div.container {
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.425);
  position: relative;
  display: flex;
  flex-direction: column;
}

p.title {
  font-size: 1.1rem;
  text-decoration: underline;
  color: white;
  text-align: center;
  padding: 0.5em 0;
  background: rgb(46, 46, 46);
}

div.input {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
}

input {
  position: absolute;
  width: 100%;
  height: 100%;
}

label {
  text-align: center;
  position: relative;
  padding: 0.7em 0;
  font-size: 1.1rem;
  display: flex;
  z-index: 9;
  pointer-events: none;
}
